@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  background-image: linear-gradient(rgba(0, 0, 0,.2), rgba(0, 0, 0, 0.6)), url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', 'Arial', sans-serif;
}
.containerContact{
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 110px auto 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}
.containerContact p{
  text-align: center;
  letter-spacing: 1px;
  font-size: 45px;
  margin-bottom: 20px;
  color: #486255;
}
.containerContact .input,
.containerContact .message .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}
.containerContact .login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}
.containerContact .login .input:last-child{
  margin-right: 0;
}
.containerContact .message .area{
  height: 200px;
}
.containerContact .submit{
  width: 250px;
  background: #486255;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.containerContact .submit input {
  color: white;
  background-color: transparent;
  border: 0;
  width: 250px;
  height: 50px;
}
.containerContact .input:focus,
.containerContact .message .area:focus{
  border: 2px solid #486255;
}
