body {
    background-color: #ecf0f1;
    font-family: 'Lato', 'Arial', sans-serif;
}
.team-section{text-align: center;}
.caption{
	overflow: hidden;
	text-align: center;
	background: #34495e;
	padding: 60px;
}
.caption h1{
	padding-top: 60px;
	text-transform: uppercase;
	margin-bottom: 50px;
	color:white;
}
.border{
	display: block;
	margin:auto;
	width: 160px;
	height: 3px;
	background: #3489db;
	margin-bottom: 40px;
}
.team{
    padding: 40px 0;
    transition: background-color 0.4s;
}
.team:hover{background-color: #ddd;}
.team img{
    width: 200px;
    height: 190px;
    filter: grayscale(100%);
}
.team-name h4{
    color: #000;
    margin: 16px 0;
    text-transform: uppercase;
}
.team-social{margin-top: 12px;}
.team-social a i {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.team-social a i{
    color: #333;
    line-height: 30px;
}
.work {
    background-color: #21424c;
    color: white;
    margin: 20px;
    padding: 20px;
    font-family: arial;
}
