body {
    background-color: #02212b;

    margin: 20px;
}
.mission1 {
    background-color:#21424c ;
    color: white;
    margin: 20px;
    padding: 20px;
}


.mission{
	overflow: hidden;
	text-align: center;
	background: #34495e;
	padding: 60px;
}
.mission h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	color:white;
	font-style: 40px;
}
.border{
	display: block;
	margin:auto;
	width: 160px;
	height: 3px;
	background: #3489db;
	margin-bottom: 40px;
}
